@import './libs/bootstrap-reboot.min';
@import './base/variables.scss';

* {
    .roboto-light {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .roboto-medium {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .roboto-bold {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .roboto-black {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-style: normal;
    }
}

@import './blocks/promo.scss';
@import './blocks/header.scss';
@import './blocks/advantages.scss';
@import './blocks/work.scss';
@import './blocks/support.scss';
@import './blocks/price.scss';
@import './blocks/consultation.scss';
@import './blocks/manager.scss';
@import './blocks/cooperation.scss';
@import './blocks/feedback.scss';
@import './blocks/map.scss';
@import './blocks/footer.scss';
@import './blocks/reviews.scss';
@import './blocks/general.scss';
@import './blocks/media.scss';
