.cooperation {
    padding-bottom: 51px;
    min-height: 455px;
    background-color: #f3f3f3;
    &__wrapper {
        padding-top: 20px;
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
    }
    &__item {
        padding-top: 20px;
        max-width: 240px;
    }
    &__img {
        img {
            margin: 0 auto;
            display: block;
        }
    }
    &__title {
        padding-top: 3px;
        font-size: 16px;
        font-weight: 700;
        color: $main-color;
        text-align: center;
    }
    &__descr {
        padding-top: 5px;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        color: #3a3a3a;
    }
}
