.manager {
    margin-top: 60px;
    height: 345px;
    background: url('/img/sixth_screen/manager_background.jpg') center center/cover no-repeat;
    &__img {
        padding-top: 58px;
        text-align: center;
    }
}