.manager {
    margin-top: 60px;
    padding-bottom: 50px;
    min-height: 345px;
    background: url('/img/manager_background.jpg') center center/cover no-repeat;
    &__img {
        padding-top: 58px;
        text-align: center;
    }
}
