.work {
    &__wrapper {
        padding-top: 37px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-around;
    }
    &__item {
        max-width: 350px;
    }
    &__title {
        padding-top: 27px;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: $main-color;
    }
    &__descr {
        padding-top: 5px;
        font-size: 14px;
        font-weight: 300;
        color: #3a3a3a;
        text-wrap: balance;
        text-align: center;
    }
    &__img {
        img {
            max-width: 100%;
        }
    }
}
